<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <partial name="Widgets/_Header"/>
    <title>@TinyStore.Site.SiteContext.Config.SiteName</title>
</head>
<body>
<div id="q-app">
    <q-layout view="hHh lpR fFf" class="bg-grey-1">
        <q-header elevated class="bg-primary q-py-xs" style="height: 65px;line-height: 65px;">
            <q-toolbar class="fit">
                <q-btn
                    flat
                    dense
                    round
                    @@click="leftDrawerOpen = !leftDrawerOpen"
                    aria-label="菜单栏"
                    size="lg"
                    icon="menu">
                </q-btn>

                <img src="~/images/logo.png" alt="SiteContext.Config.SiteName" class="full-height"/>
                <q-toolbar-title shrink class="desktop-only">
                    @SiteContext.Config.SiteName
                </q-toolbar-title>
                <q-space></q-space>
                <div class="q-gutter-sm row items-center no-wrap">
                    <q-btn-dropdown class="on-right" flat >
                        <template v-slot:label>
                            <div class="text-capitalize text-subtitle1 text-weight-bold">
                                {{ admin.account }}
                            </div>
                        </template>
                        <q-list>
                            <q-item clickable v-close-popup @@click="logoff">
                                <q-item-section>
                                    <q-item-label class="text-subtitle2">
                                         <q-icon class="on-left" name="power_settings_new"></q-icon>退出帐号
                                    </q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </q-btn-dropdown>
                </div>
            </q-toolbar>
        </q-header>

        <q-drawer
            v-model="leftDrawerOpen"
            show-if-above
            bordered
            content-class="bg-grey-2"
            :width="240">
            <q-scroll-area class="fit">
                <q-list padding>
                    <q-item v-ripple clickable @@click="Goto('@Url.ActionLink("index","admin")')">
                        <q-item-section avatar>
                            <q-icon color="grey-8" name="home"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">首页</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-separator class="q-my-sm"></q-separator>

                    <q-item-label header class="text-weight-bold text-uppercase">
                        系统
                    </q-item-label>

                    <q-item v-ripple clickable v-for="link in adminlinks" :key="link.text" @@click="Goto(link.url)">
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>
                    
                    <q-separator class="q-my-sm"></q-separator>

                    <q-item-label header class="text-weight-bold text-uppercase">
                        商户
                    </q-item-label>

                    <q-item v-ripple clickable v-for="link in userlinks" :key="link.text" @@click="Goto(link.url)">
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-separator class="q-my-sm"></q-separator>

                    <q-item-label header class="text-weight-bold text-uppercase">
                        货源
                    </q-item-label>

                    <q-item v-ripple clickable v-for="link in supplylinks" :key="link.text" @@click="Goto(link.url)">
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-separator class="q-my-sm"></q-separator>

                    <q-item-label header class="text-weight-bold text-uppercase">
                        店铺
                    </q-item-label>

                    <q-item v-ripple clickable v-for="link in orderlinks" :key="link.text" @@click="Goto(link.url)">
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>
                </q-list>
            </q-scroll-area>
        </q-drawer>

        <q-page-container>
            @RenderBody()
        </q-page-container>
    </q-layout>
</div>
<partial name="Widgets/_BodyEnd"/>
<script>

    var _layout ={
     el: '#q-app',
     data : {
       leftDrawerOpen: false,
       admin : Store.Admin(),
       adminlinks: [
           { icon: 'settings', text: '全局设置',url:'@Url.ActionLink("Admin_Config", "Admin")'  },
           { icon: 'fas fa-user-cog', text: '管理列表',url:'@Url.ActionLink("Admin_List", "Admin")' },
           // { icon: 'history', text: '管理日志',url:'@Url.ActionLink("Admin_Log", "Admin")'  },
         ],
       userlinks: [
           { icon: 'person', text: '商户店铺',url:'@Url.ActionLink("User_Store", "Admin")' },
           { icon: 'local_atm', text: '资金提现',url:'@Url.ActionLink("User_Finance","Admin")' },
         ],
       supplylinks: [
           { icon: 'fas fa-dolly', text: '货源列表',url:'@Url.ActionLink("Supply_List", "Admin")' },
           { icon: 'vpn_key', text: '卡密列表',url:'@Url.ActionLink("Supply_Stock", "Admin")'  },
         ],
       orderlinks: [
           { icon: 'local_grocery_store', text: '订单结算',url:'@Url.ActionLink("Store_Order","Admin")'  },
           { icon: 'insert_chart', text: '销售统计',url:'@Url.ActionLink("Store_Stat","Admin")' },
         ],
         userLevelOptions:[
                      {icon:'star',name:'无',color:'primary',value:0},
                      {icon:'star',name:'一星',color:'primary',value:1},
                      {icon:'star',name:'二星',color:'primary',value:2},
                      {icon:'star',name:'三星',color:'primary',value:3},
                      {icon:'star',name:'合作商',color:'primary',value:9},
                  ],
         deliveryTypeOptions:[
             {icon:'vpn_key',name:'卡密',color:'primary',value:1},
             {icon:'pan_tool',name:'人工',color:'primary',value:2},
             {icon:'device_hub',name:'接口',color:'primary',value:3},
         ],
         supplyTypeOptions:[
             { icon:'settings',name:'系统',color:'primary',value :'system'},
             { icon:'account_circle',name:'自定义',color:'primary',value :'custom'},
         ],
         stockIsDeliveryOptions:[
            { icon:'card_travel',name:'在库',color:'primary',value :false},
            { icon:'send',name:'已售',color:'warning',value :true},
         ],
         stockIsShowOptions:[
             { icon:'pause',name:'下架',color:'warning',value :false},
             { icon:'play_circle_filled',name:'上架',color:'primary',value :true},
         ],
       orderIsPayOptions:[
          { icon:'fas fa-yen-sign',name:'未付款',color:'warning',value :false},
          { icon:'fas fa-yen-sign',name:'已付款',color:'accent',value :true},
       ],
       orderIsDeliveryOptions:[
          { icon:'send',name:'未发货',color:'warning',value :false},
          { icon:'send',name:'已发货',color:'accent',value :true},
       ],
       orderIsSettleOptions:[
          { icon:'done_all',name:'未结算',color:'warning',value :false},
          { icon:'done_all',name:'已结算',color:'accent',value :true},
       ],     
     },
     beforeCreate(){
         if(!Store.Token()){
             location.href = '@Url.ActionLink("login", "admin")';
         }
     },
    created(){
         //桌面下为 true，手机端为 undefined
         this.leftDrawerOpen=!!this.$q.platform.is.desktop;
    },
    computed:{
         editorToolbar(){
             return [
                       [
                         {
                           label: this.$q.lang.editor.align,
                           icon: this.$q.iconSet.editor.align,
                           fixedLabel: true,
                           options: ['left', 'center', 'right', 'justify']
                         }
                       ],
                       ['bold', 'italic', 'strike', 'underline'],
                       [ 'hr', 'link'],
                       [
                         {
                           label: this.$q.lang.editor.fontSize,
                           icon: this.$q.iconSet.editor.fontSize,
                           fixedLabel: true,
                           fixedIcon: true,
                           list: 'no-icons',
                           options: [
                             'size-1',
                             'size-2',
                             'size-3',
                             'size-4',
                             'size-5',
                             'size-6',
                             'size-7'
                           ]
                         },
                         {
                           label: this.$q.lang.editor.defaultFont,
                           icon: this.$q.iconSet.editor.font,
                           fixedIcon: true,
                           list: 'no-icons',
                           options: [
                             'default_font',
                             'arial',
                             'arial_black',
                             'comic_sans',
                             'courier_new',
                             'impact',
                             'lucida_grande',
                             'times_new_roman',
                             'verdana'
                           ]
                         }
                       ],
                         ['unordered', 'ordered'],
                         ['removeFormat']
                     ];
         },
         editorFonts(){
             return {
                      arial: 'Arial',
                      arial_black: 'Arial Black',
                      comic_sans: 'Comic Sans MS',
                      courier_new: 'Courier New',
                      impact: 'Impact',
                      lucida_grande: 'Lucida Grande',
                      times_new_roman: 'Times New Roman',
                      verdana: 'Verdana'
                    };
         }
    },
     methods: {
         qqservice(qqnumber){
            if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) { //移动端
                return 'mqqwpa://im/chat?chat_type=wpa&uin=' + qqnumber + '&version=1&src_type=web&web_src=';
            } else {
                return 'http://wpa.qq.com/msgrd?V=3&uin=' + qqnumber + '&Site=&Menu=yes';
            }
         },
         deliveryTypeOption(deliveryType){
             for (i in this.deliveryTypeOptions){
                 if (this.deliveryTypeOptions[i].value === deliveryType){
                     return  this.deliveryTypeOptions[i];
                 }
             }
             return null;
         },
         logoff(){
             Store.TokenRemove();
             Store.AdminRemove();
             location.href = '@Url.ActionLink("login","admin")';
         }
     }
   };
    
    function DeepMerge(target, source) {
        function DeepClone(source){
            if (Object.prototype.toString.call(source) === "[object Date]") {
                return  new Date(source.valueOf());
            } else {
                return source;
            }
         }
         
        if (Object.prototype.toString.call(target) === "[object Object]"
         && Object.prototype.toString.call(source) === "[object Object]") {
            for (var name in source){
                if (Object.prototype.toString.call(source[name]) === "[object Object]"){
                    if (target[name]){
                        DeepMerge(target[name],source[name]);                        
                    }else{
                        target[name] = DeepClone(source[name]);
                    }
                }
                // else if (Object.prototype.toString.call(source[name]) === "[object Function]"){
                //     if (target[name]){
                //        
                //        var merge = target[name];
                //        target[name] = (function () {
                //            merge.call(this)
                //            source[name].call(this)
                //        })();
                //     }else{
                //        target[name] = DeepClone(source[name]);
                //     }
                // }
                else{
                    target[name] = DeepClone(source[name]);
                }
            }
        } 
    }
</script>
@RenderSection("Scripts", required: false)
</body>
</html>