<div class="col">
    <p class="mb-3  bd-text-purple-bright">
        提现申请列表
    </p>
    <div class="form-inline ">
        <label for="txtDateBegin">起始时间</label>
        <div class="input-group ">
            <input id="txtDateBegin" type="date" class="form-control" value="@DateTime.Now.AddDays(-7).ToString(SiteContext.Config.FormatDate)" />
        </div>
        <label for="txtDateEnd">结束时间</label>
        <div class="input-group">
            <input id="txtDateEnd" type="date" class="form-control" value="@DateTime.Now.ToString(SiteContext.Config.FormatDate)" />
        </div>
        <div class="col-2">
            <select class="form-control" id="slState">
                <option value="0">请选择处理状态</option>
                @foreach (TinyStore.EWithDrawState state in Enum.GetValues(typeof(TinyStore.EWithDrawState)))
                {
                    <option value="@((int)state)">@state</option>
                }
            </select>
            <select class="form-control" id="slType" style="display:none">
                <option value="0">请选择处理状态</option>
                @foreach (TinyStore.EBankType bankType in Enum.GetValues(typeof(TinyStore.EBankType)))
                {
                    <option value="@((int)bankType)">@bankType</option>
                }
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-info" id="btnSearch">搜索</button>
        </div>
    </div>
    <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    </table>
</div>
<div id="dialog">
    <form>
        <div class="form-group ml-2">
            <div class="form-group form-inline row">
                <label class="col-4 control-label">店铺名称</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="StoreName" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">提现金额</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Amount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款方式 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankType_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款帐号 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankAccount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款开户行 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankPersonName" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款名称 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Name" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">申请日期 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="CreateDate_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">处理状态 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="State_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row IsFinish IsSuccess">
                <label class="col-4 control-label">到账金额 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Income" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row IsFinish IsSuccess">
                <label class="col-4 control-label">交易编号 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="TranId" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row IsFinish">
                <label class="col-4 control-label">结束日期 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="FinishDate_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row IsFinish">
                <label class="col-4 control-label">附言 	</label>
                <div class="col-5">
                    <textarea name="Memo" class="form-control" rows="3" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="dialogDo">
    <form>
        <div class="form-group ml-2">
            <div class="form-group form-inline row">
                <label class="col-4 control-label">店铺名称</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="StoreName" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">店铺金额</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="StoreAmount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">提现金额</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Amount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款方式 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankType_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款帐号 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankAccount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款开户行 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="BankPersonName" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">收款名称 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Name" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">到账金额 	</label>
                <div class="col-5">
                    <input type="number" class="form-control" name="Income" min="0.01" step="0.01" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">交易编号 	</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="TranId" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">附言 	</label>
                <div class="col-5">
                    <textarea name="Memo" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="dialogDoNo">
    <form>
        <div class="form-group ml-2">
            <div class="form-group form-inline row">
                <label class="col-4 control-label">店铺名称</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="StoreName" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">店铺金额</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="StoreAmount_str" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">提现金额</label>
                <div class="col-5">
                    <input type="text" class="form-control" name="Amount" readonly="readonly" />
                </div>
            </div>
            <div class="form-group form-inline row">
                <label class="col-4 control-label">附言 	</label>
                <div class="col-5">
                    <textarea name="Memo" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        var dialog;
        var list = null;
        var grid = $('#grid').bootstrapTable(
            $.extend(baseTableoption, {
                uniqueId: "WithDrawId",
                columns: [{
                    field: 'Amount',
                    title: '提现金额'
                }, {
                    //field: 'BankType_str',
                    title: '收款方式', formatter: function (value, row, index) {
                        return GetEnumName("slType", row.BankType);
                    }
                }, {
                    //field: 'CreateDate_str',
                    title: '申请日期', formatter: function (value, row, index) {
                        return DatetimeFormat(row.CreateDate)
                    }
                }, {
                    //field: 'State_str',
                    title: '处理状态', formatter: function (value, row, index) {
                        if (!row.IsFinish) {
                            return "未处理";
                        }
                        else if (row.Income == 0) {
                            return "提现失败";
                        }
                        else {
                            return "提现成功";
                        }
                    }
                }, {
                    title: '结束日期', formatter: function (value, row, index) {
                        return row.IsFinish ? DatetimeFormat(row.FinishDate) : "";
                    }
                }, {
                    title: '提现管理', formatter: function (value, row, index) {
                        var btn = "<button onclick=\"WithDrawInfo('" + row.WithDrawId + "')\" class=\"btn-info btn-sm m-1\">查看详细</button>";
                        if (!row.IsFinish) {
                            btn += "<button onclick=\"WithDrawShow('" + row.WithDrawId + "')\" class=\"btn-success btn-sm m-1\">审核通过</button>";
                            btn += "<button onclick=\"WithDrawNoShow('" + row.WithDrawId + "')\" class=\"btn-primary btn-sm m-1\">拒绝通过</button>";
                            btn += "<button onclick=\"Delete('" + row.WithDrawId + "')\" class=\"btn-danger btn-sm m-1\">删除</button>";
                        }
                        return btn;
                    }
                }]
            })
        );
        QueryPageList = function () {
            var gridopt = grid.bootstrapTable("getOptions");
            CY.Ajax("WithDrawPageList", {
                Token: Store.Token()
            }, {
                begin: $("#txtDateBegin").val(),
                end: $("#txtDateEnd").val(),
                state: $("#slState").val(),
                pageindex: gridopt.pageNumber,
                pagesize: gridopt.pageSize
            }, function (msg) {
                grid.bootstrapTable('load', msg.Data);
                list = msg.Data.rows;
            });
        }
        QueryPageList();

        function WithDrawNoShow(m_id) {
            var data = null;
            for (var i = 0; i < list.length; i++) {
                if (list[i].WithDrawId == m_id) {
                    data = list[i];
                    i = list.length;
                }
            }
            if (data != null) {
                dialog = bootbox.dialog({
                    show: false,
                    title: "拒绝通过",
                    message: $("#dialogDoNo").html(),
                    buttons: {
                        confirm: {
                            label: "保存",
                            className: "btn-success",
                            callback: function () {
                                if (dialog.find("form").valid()) {
                                    CY.Ajax("WithDrawCheckNo", {
                                        Token: Store.Token()
                                    },
                                        {
                                            "id": m_id,
                                            "memo": dialog.find("form").find("[name='Memo']").val(),
                                        },
                                        function (msg) {
                                            if (msg.Result) {
                                                $.toast("操作成功！");
                                            } else {
                                                $.toast(msg.Message);
                                            }
                                            dialog.modal("hide");
                                            QueryPageList();
                                        });
                                }
                                return false;
                            }
                        }
                    }
                });
                dialog.find("form").find("input[maxlength]").maxlength({
                    alwaysShow: true,
                    threshold: 10,
                    warningClass: "badge badge-success",
                    limitReachedClass: "badge badge-danger"
                });
                dialog.find("form").validate_popover({
                    
                    rules: {
                        Memo: {
                            required: true
                        }
                    }
                });
                dialog.find("form").FormSet(data);
                dialog.modal("show");
            }
        } function WithDrawShow(m_id) {
            var data = null;
            for (var i = 0; i < list.length; i++) {
                if (list[i].WithDrawId == m_id) {
                    data = list[i];
                    i = list.length;
                }
            }
            if (data != null) {
                dialog = bootbox.dialog({
                    show: false,
                    title: "审核通过",
                    message: $("#dialogDo").html(),
                    buttons: {
                        confirm: {
                            label: "保存",
                            className: "btn-success",
                            callback: function () {
                                if (dialog.find("form").valid()) {
                                    CY.Ajax("WithDrawCheck", {
                                        Token: Store.Token()
                                    },
                                        {
                                            "id": m_id,
                                            "income": dialog.find("form").find("[name='Income']").val(),
                                            "tranid": dialog.find("form").find("[name='TranId']").val(),
                                            "memo": dialog.find("form").find("[name='Memo']").val(),
                                        },
                                        function (msg) {
                                            if (msg.Result) {
                                                $.toast("操作成功！");
                                            } else {
                                                $.toast(msg.Message);
                                            }
                                            dialog.modal("hide");
                                            QueryPageList();
                                        });
                                }
                                return false;
                            }
                        }
                    }
                });
                dialog.find("form").find("input[maxlength]").maxlength({
                    alwaysShow: true,
                    threshold: 10,
                    warningClass: "badge badge-success",
                    limitReachedClass: "badge badge-danger"
                });
                dialog.find("form").validate_popover({
                    
                    rules: {
                        TranId: {
                            required: true
                        },
                        Income: {
                            required: true
                        }
                    }
                });
                dialog.find("form").FormSet(data);
                dialog.find("form").find("[name='Income']").attr("max", data.Amount);
                dialog.find("form").find("[name='Income']").val(data.Amount);
                dialog.modal("show");
            }
        }
        function WithDrawInfo(m_id) {
            var data = null;
            for (var i = 0; i < list.length; i++) {
                if (list[i].WithDrawId == m_id) {
                    data = list[i];
                    i = list.length;
                }
            }
            if (data != null) {
                dialog = bootbox.dialog({
                    show: false,
                    title: "查看详细",
                    message: $("#dialog").html()
                });
                dialog.find("form").FormSet(data);
                if (!data.IsFinish) {
                    dialog.find("form").find(".IsFinish").hide();
                }
                else if (data.Income == 0) {
                    dialog.find("form").find(".IsSuccess").hide();
                }
                dialog.modal("show");
            }
        }
        function Delete(m_id) {
            bootbox.confirm("是否确认?", function (result) {
                if (result) {
                    CY.Ajax("WithDrawDelete", {
                        Token: Store.Token()
                    },
                        {
                            "id": m_id
                        },
                        function (msg) {
                            if (msg.Result) {
                                $.toast("操作成功！");
                            } else {
                                $.toast(msg.Message);
                            }
                            QueryPageList();
                        });
                }
            });
            return false;
        }
        $("#dialogDoNo").hide();
        $("#dialogDo").hide();
        $("#dialog").hide();
        $("#btnSearch").on("click", QueryPageList);
    </script>
}
