<!doctype html>
<html>
<head>
    <partial name="Widgets/_Header" />
</head>

<body>
    <!--主框架-->
<div id="page">
    <div class="home-header flex flex-center items-center txt-white font-family-T">店铺推荐</div>
    <div class="home-box column">
        <div class="stores-hot col-auto">
            <ul>
                @foreach (TinyStore.Model.StoreModel item in ViewBag.StoreList)
                {
                    <li>
                        <a href="@Url.ActionLink("Store","Home", new {uniqueId=@item.UniqueId})">
                            <img src="@item.Logo" alt="@item.Name">
                            <span>@item.Name</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="company col flex items-center">
            <div>
                <div class="row items-center">
                    <div class="col">
                        <div class="titile-CN">关于我们</div>
                    </div>
                </div>
                <div class="content">
                    支持各种虚拟道具买卖，方便，安全快捷，买家无需注册，商家只需注册店铺，添加商品即可实现在线销售，可实时了解营收情况。
                </div>
            </div>
        </div>
    </div>
    <div class="home-more">
        <a href="@Url.ActionLink("stores","home")">进入店铺列表</a>
    </div>
</div>

</body>
</html>
