<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>@TinyStore.Site.SiteContext.Config.SiteName</title>
    <partial name="Widgets/_Header"/>
</head>
<body>
<div id="q-app">
    <q-layout view="hHh lpR fFf" class="bg-grey-1">
        <q-header elevated class="bg-primary q-py-xs" style="height: 65px;line-height: 65px;">
            <q-toolbar class="fit">
                <q-btn
                    flat
                    dense
                    round
                    @@click="leftDrawerOpen = !leftDrawerOpen"
                    aria-label="菜单栏"
                    size="lg"
                    icon="menu">
                </q-btn>

                <img src="~/images/logo.png" alt="SiteContext.Config.SiteName" class="full-height"/>
                <q-toolbar-title shrink class="desktop-only">
                    @SiteContext.Config.SiteName
                </q-toolbar-title>

                <q-space></q-space>

                <div class="q-gutter-sm row items-center no-wrap">
                    <q-btn round dense flat color="grey-8" icon="apps" v-if="$q.screen.gt.sm">
                        <q-tooltip>Apps</q-tooltip>
                    </q-btn>
                    <q-btn round dense flat color="grey-8" icon="message" v-if="$q.screen.gt.sm">
                        <q-tooltip>Messages</q-tooltip>
                    </q-btn>
                    <q-btn round dense flat  icon="list">
                        <q-badge color="red" text-color="white" floating>
                            2
                        </q-badge>
                        <q-tooltip>订单</q-tooltip>
                    </q-btn>
                    <q-btn-dropdown split>
                          <template v-slot:label>
                            {{ storeCurrent.name }}
                          </template>
                          <q-list>
                            <q-item clickable v-close-popup @@click="setStoreCurrent(i)" v-for="(store,i) in storeList">
                              <q-item-section>
                                <q-item-label>{{store.name}}</q-item-label>
                              </q-item-section>
                            </q-item>
                          </q-list>
                    </q-btn-dropdown>
                </div>
            </q-toolbar>
        </q-header>

        <q-drawer
            v-model="leftDrawerOpen"
            show-if-above
            bordered
            content-class="bg-grey-2"
            :width="240">
            <q-scroll-area class="fit">
                <q-list padding>
                    <q-item-label header class="text-weight-bold text-uppercase">
                        货源
                    </q-item-label>
                                        
                    <q-item v-ripple clickable v-for="link in supplylinks" :key="link.text" @@click="Goto(link.url)" >
                        <q-item-section avatar>
                            <q-icon  color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>
                    
                    <q-separator class="q-my-md"></q-separator>
                    
                    <q-item-label header class="text-weight-bold text-uppercase">
                        商户
                    </q-item-label>
                    
                    <q-item v-ripple clickable v-for="link in userlinks" :key="link.text" @@click="Goto(link.url)" >
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-separator class="q-my-md"></q-separator>
                    
                    <q-item-label header class="text-weight-bold text-uppercase">
                        店铺
                    </q-item-label>

                    <q-item v-ripple clickable v-for="link in storelinks" :key="link.text" @@click="Goto(link.url)">
                        <q-item-section avatar>
                            <q-icon color="grey-8" :name="link.icon"/>
                        </q-item-section>
                        <q-item-section>
                            <q-item-label class="text-h6 text-grey-8">{{ link.text }}</q-item-label>
                        </q-item-section>
                    </q-item>

                    <q-separator class="q-mt-md q-mb-lg"></q-separator>

                    <div class="q-py-md q-px-md text-grey-9">
                        <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
                            <a
                                v-for="button in buttons1"
                                :key="button.text"
                                class="YL__drawer-footer-link"
                                href="javascript:void(0)">
                                {{ button.text }}
                            </a>
                        </div>
                    </div>
                    
                </q-list>
            </q-scroll-area>
        </q-drawer>

        <q-page-container>
            @RenderBody()
        </q-page-container>
    </q-layout>
</div>
<partial name="Widgets/_BodyEnd"/>
<script>

    var _layout ={
     el: '#q-app',
     data : {
       leftDrawerOpen: false,
       user : Store.User(),
       userExtend : Store.UserExtend(),
       storeList : Store.StoreList(),
       storeCurrent : Store.StoreCurrent(),
       supplylinks: [
           { icon: 'fas fa-dolly', text: '货源管理',url:'@Url.ActionLink("Supply_List", "User")' },
           { icon: 'vpn_key', text: '卡密管理',url:'@Url.ActionLink("Supply_Stock", "User")'  },      
         ],
       userlinks: [
           { icon: 'person', text: '商户资料',url:'@Url.ActionLink("User_Profile", "User")' },
           { icon: 'lock', text: '密码安全',url:'@Url.ActionLink("User_Secret","User")' },
           { icon: 'local_atm', text: '账目管理',url:'' },
           //{ icon: 'monetization_on', text: '提现管理' },     
           { icon: 'history', text: '操作日志',url:'' }
         ],
       storelinks: [
           { icon: 'store_mall_directory', text: '店铺资料',url:'@Url.ActionLink("Store_Info","User")'  },
           { icon: 'fas fa-hand-holding-usd', text: '收款设置',url:'@Url.ActionLink("Store_Payment","User")'  },
           { icon: 'card_travel', text: '商品管理',url:''  },
           { icon: 'local_grocery_store', text: '订单管理',url:''  },
         ],
         buttons1: [
           { text: 'Terms' },
           { text: 'Privacy' },
           { text: 'Policy & Safety' },
           { text: 'Test new features' }
         ],
         deliveryTypeOptions:[
             {icon:'vpn_key',name:'卡密',color:'primary',value:1},
             {icon:'pan_tool',name:'人工',color:'primary',value:2},
             {icon:'device_hub',name:'接口',color:'primary',value:3},
         ]
     },
     beforeCreate(){
         if(!Store.Token()){
             location.href = '@Url.ActionLink("Login", "User")';
         }
        //桌面下为 true，手机端为 undefined
         this.leftDrawerOpen=!!this.$q.platform.is.desktop;
     },
     methods: {
         setStoreCurrent(index){
             Store.StoreCurrent(index);
         },
         deliveryTypeOption(deliveryType){
             for (i in this.deliveryTypeOptions){
                 if (this.deliveryTypeOptions[i].value === deliveryType){
                     return  this.deliveryTypeOptions[i];
                 }
             }
             return null;
         }
     }
   };
    
    function DeepMerge(target, source) {
        function DeepClone(source){
            if (Object.prototype.toString.call(source) === "[object Date]") {
                return  new Date(source.valueOf());
            } else {
                return source;
            }
         }
         
        if (Object.prototype.toString.call(target) === "[object Object]"
         && Object.prototype.toString.call(source) === "[object Object]") {
            for (var name in source){
                if (Object.prototype.toString.call(source[name]) === "[object Object]"){
                    if (target[name]){
                        DeepMerge(target[name],source[name]);                        
                    }else{
                        target[name] = DeepClone(source[name]);
                    }
                }else{
                    target[name] = DeepClone(source[name]);
                }
            }
        } 
    }
</script>
@RenderSection("Scripts", required: false)
</body>
</html>